# Ignore virtual env file
.venv/

# Ignore _pycache files
src/__pycache__/
dags/__pycache__/
src/utils/__pycache__
__pycache__/
**/__pycache__/

# Ignore environment-specific files
.env
*.env

# Ignore Docker-related files
.dockerignore

# Ignore Airflow log files
logs/
*.log